h1 {
	color: #0099ff;
}

body{
	font-family:helvetica;
	text-align:center
}

#counter {
	border: 1px solid #ddd;
}

button {
	color: white;
	background-color: #0099ff;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

table {
	margin:auto;
	font-size:16px;
	border-collapse:collapse;
	width:50%;
}

td, th {
	padding:8px;
	border: 1px solid #ddd;
	margin:auto;
	width:50%;
}

th {
	padding:8px;
	font-size:24px;
	font-style:bold;
	color: #ffffff;
	background-color: #0099ff;
}

tr:nth-child(even) {
	background-color:#ccebff;
}

tr:hover {
	background-color:#80ccff;
}

button:hover {
	background-color: #0050ff;
}